h1#recipe {
  font-family: 'Indie Flower', cursive;

}
body {
  background-image: url("pexels-photo-875858.jpg");
  background-size: cover;

}
h1#title {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  text-align: center;
<<<<<<< HEAD
  color:#8b008b;
=======
  color: black;
>>>>>>> 29b56c9255d4e5a90e205996c43e4d0ecbf22d97
  text-decoration: underline;
}
h2 {
text-decoration: underline;
}
p {
  color: #8b008b;
  font-size: 20px;
}
ul {
  font-size: 20px;
  color:#8b008b;
}
p#light {
  color:#8b008b;
}
