h1#recipe {
  font-family: 'Indie Flower', cursive;

}
body {
  background-image: url("pexels-photo-875858.jpg");
  background-size: cover;

}
h1#title {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  text-align: center;
  color:#8b008b;
  text-decoration: underline;
}
h2 {
text-decoration: underline;
}
p {
  color: #8b008b;
  font-size: 20px;
}
ul {
  font-size: 20px;
  color:#8b008b;
}
p#light {
  color:#8b008b;
}
